body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* For carousel */
.card {
  border-radius: 20px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.carousel-indicators [data-bs-target] {
  background-color: #0d6efd;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #0d6efd;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
